<mat-toolbar color="primary">
  <mat-toolbar-row fxLaout>
    <span class="title-center">Change password</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content>
  <form [formGroup]="changePasswordForm">
    <div fxLayout="column">
      <mat-form-field appearrance="fill" fxFlex>
        <mat-label>old password</mat-label>
        <input
          matInput
          formControlName="oldPassword"
          type="password"
          required
        />
        <mat-error
          *ngIf="
            changePasswordForm.controls.oldPassword.touched &&
            changePasswordForm.controls.oldPassword.invalid
          "
        >
          <span *ngIf="changePasswordForm.controls.oldPassword.error.required"
            >this field is required
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearrance="fill" fxFlex>
        <mat-label>New password</mat-label>
        <input
          matInput
          formControlName="newPassword"
          type="password"
          required
        />
        <mat-error
          *ngIf="
            changePasswordForm.controls.newPassword.touched &&
            changePasswordForm.controls.newPassword.invalid
          "
        >
          <span *ngIf="changePasswordForm.controls.newPassword.error.required"
            >this field is required
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearrance="fill" fxFlex>
        <mat-label>Confirm password</mat-label>
        <input
          matInput
          formControlName="confirmPassword"
          type="password"
          required
        />
        <mat-error
          *ngIf="
            changePasswordForm.controls.confirmPassword.touched &&
            changePasswordForm.controls.confirmPassword.invalid
          "
        >
          <span
            *ngIf="changePasswordForm.controls.confirmPassword.error.required"
            >this field is required
          </span>
        </mat-error>
        <mat-hint
          *ngIf="
            validateSubmit() &&
            !changePasswordForm.controls.confirmPassword.invalid
          "
        >
          <span>New password and confirm passw does not match</span>
        </mat-hint>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="handleChangePassword()"
    [disabled]="
      validateSubmit() ||
      !(changePasswordForm.valid && changePasswordForm.dirty)
    "
  >
    Update
  </button>
  <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>
